In [64]:
import importlib
import codecs
import os
import pandas
import numpy 
import datetime as dt
import scipy.stats
import pandasql.sqldf
from IPython.core.display import display, HTML
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
pandas.options.display.max_rows = 200
pandas.options.display.max_columns = 50
pandas.options.display.width = 300
pandas.set_option('display.float_format', lambda x: '%.8f' % x)

import trm3.impute
import trm3.utility

input_file = r"D:\projects\Python36-Package-Development\trm3pylib\data-csv\zillow_train.csv"
with codecs.open(input_file, 'r', encoding='utf-8') as f:
   df= pandas.read_csv(f, sep=",", header=0, low_memory=False, parse_dates=True)

df["datecol"] = pandas.to_datetime(df.transactiondate)
df["interval"] = df["datecol"] - dt.datetime.now().date()
df["fips"].fillna(value=df["fips"].mode().tolist()[0], inplace=True)

In [65]:
importlib.reload(trm3.impute)
importlib.reload(trm3.utility)

In [66]:
sdf = trm3.utility.df_contents(df, display_html_output=True)
#                   excel_filename=r"D:\projects\Python36-Package-Development\temp\test01.xlsx",
#                   excel_sheet_name="DF Summary")

In [5]:
df.columns.tolist()

['parcelid',
 'airconditioningtypeid',
 'architecturalstyletypeid',
 'basementsqft',
 'bathroomcnt',
 'bedroomcnt',
 'buildingclasstypeid',
 'buildingqualitytypeid',
 'calculatedbathnbr',
 'decktypeid',
 'finishedfloor1squarefeet',
 'calculatedfinishedsquarefeet',
 'finishedsquarefeet12',
 'finishedsquarefeet13',
 'finishedsquarefeet15',
 'finishedsquarefeet50',
 'finishedsquarefeet6',
 'fips',
 'fireplacecnt',
 'fullbathcnt',
 'garagecarcnt',
 'garagetotalsqft',
 'hashottuborspa',
 'heatingorsystemtypeid',
 'latitude',
 'longitude',
 'lotsizesquarefeet',
 'poolcnt',
 'poolsizesum',
 'pooltypeid10',
 'pooltypeid2',
 'pooltypeid7',
 'propertycountylandusecode',
 'propertylandusetypeid',
 'propertyzoningdesc',
 'rawcensustractandblock',
 'regionidcity',
 'regionidcounty',
 'regionidneighborhood',
 'regionidzip',
 'roomcnt',
 'storytypeid',
 'threequarterbathnbr',
 'typeconstructiontypeid',
 'unitcnt',
 'yardbuildingsqft17',
 'yardbuildingsqft26',
 'yearbuilt',
 'numberofstories',
 'fireplaceflag',
 'structuretaxvaluedollarcnt',
 'taxvaluedollarcnt',
 'assessmentyear',
 'landtaxvaluedollarcnt',
 'taxamount',
 'taxdelinquencyflag',
 'taxdelinquencyyear',
 'censustractandblock',
 'logerror',
 'transactiondate',
 'dv_min_error',
 'dv_max_error',
 'dv_avg_error',
 'dv_first_error',
 'dv_last_error',
 'dv_transactions',
 'last_error',
 'datecol',
 'interval']

In [99]:
importlib.reload(trm3.impute)    
my_imputer = trm3.impute.Imputer(train_df = df,
                                 test_df = None,
                                 columns = [x for x in df.columns.tolist() if x[0:3] != "dv_" and x !="fips"],
#                                  columns = ["datecol"],
                                 groupby = ["fips"],
                                 label = "dv_avg_error",
                                 method = 2,
                                 mode_fallback_distinct_values = 3,
                                 mean_label_min_obs = .005,
                                 mean_label_bins = 10,
                                 nominal_new_category_min_obs = .01,
                                 missing_indicators = False,
                                 missing_indicators_min_obs = .01,
                                 model_x_columns = None,
                                 verbose=False
                                )

my_imputer_rules = my_imputer.fit()
my_imputer_rules.impute(impute_df=df, inplace=False, verbose=True)

D:\applications\Anaconda3\lib\site-packages\pandas\core\groupby.py:3154: FutureWarning: numpy not_equal will not check object identity in the future. The comparison did not return the same result as suggested by the identity (`is`)) and will change.
  inc = np.r_[1, val[1:] != val[:-1]]

[001] parcelid
[002] airconditioningtypeid
[003] architecturalstyletypeid
[004] basementsqft
[005] bathroomcnt
[006] bedroomcnt
[007] buildingclasstypeid
[008] buildingqualitytypeid
[009] calculatedbathnbr
[010] decktypeid
[011] finishedfloor1squarefeet
[012] calculatedfinishedsquarefeet
[013] finishedsquarefeet12
[014] finishedsquarefeet13
[015] finishedsquarefeet15
[016] finishedsquarefeet50
[017] finishedsquarefeet6
[018] fireplacecnt
[019] fullbathcnt
[020] garagecarcnt
[021] garagetotalsqft
[022] hashottuborspa
[023] heatingorsystemtypeid
[024] latitude
[025] longitude
[026] lotsizesquarefeet
[027] poolcnt
[028] poolsizesum
[029] pooltypeid10
[030] pooltypeid2
[031] pooltypeid7
[032] propertycountylandusecode
[033] propertylandusetypeid
[034] propertyzoningdesc
[035] rawcensustractandblock
[036] regionidcity
[037] regionidcounty
[038] regionidneighborhood
[039] regionidzip
[040] roomcnt
[041] storytypeid
[042] threequarterbathnbr
[043] typeconstructiontypeid
[044] unitcnt
[045] yardbuildingsqft17
[046] yardbuildingsqft26
[047] yearbuilt
[048] numberofstories
[049] fireplaceflag
[050] structuretaxvaluedollarcnt
[051] taxvaluedollarcnt
[052] assessmentyear
[053] landtaxvaluedollarcnt
[054] taxamount
[055] taxdelinquencyflag
[056] taxdelinquencyyear
[057] censustractandblock
[058] logerror
[059] transactiondate
[060] last_error

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,heatingorsystemtypeid,latitude,...,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,logerror,transactiondate,dv_min_error,dv_max_error,dv_avg_error,dv_first_error,dv_last_error,dv_transactions,last_error,datecol,interval
0,10711738,1.00000000,0.00000000,616.00000000,3.00000000,4.00000000,0.00000000,4.00000000,3.00000000,66.00000000,1244.00000000,2538.00000000,2538.00000000,1440.00000000,2104.00000000,1248.00000000,1986.00000000,6037.00000000,1.00000000,3.00000000,0.00000000,1.00000000,True,2.00000000,342.00000000,...,1.00000000,260.00000000,159.00000000,1978.00000000,1.00000000,[nan],245180.00000000,567112.00000000,2015.00000000,321932.00000000,7219.18000000,[nan],14.00000000,60371132000000.00000000,0.02760000,2016-08-02,0.02760000,0.02760000,0.02760000,0.02760000,0.02760000,1,0.00000000,2016-08-02,-429 days
1,10711755,1.00000000,0.00000000,616.00000000,3.00000000,3.00000000,0.00000000,4.00000000,3.00000000,66.00000000,1244.00000000,1589.00000000,1589.00000000,1440.00000000,2104.00000000,1248.00000000,1986.00000000,6037.00000000,1.00000000,3.00000000,0.00000000,1.00000000,True,2.00000000,342.00000000,...,1.00000000,260.00000000,159.00000000,1959.00000000,1.00000000,[nan],254691.00000000,459844.00000000,2015.00000000,205153.00000000,6901.09000000,[nan],14.00000000,60371132000000.00000000,-0.01820000,2016-08-02,-0.01820000,-0.01820000,-0.01820000,-0.01820000,-0.01820000,1,0.00000000,2016-08-02,-429 days
2,10711805,1.00000000,0.00000000,616.00000000,2.00000000,3.00000000,0.00000000,4.00000000,2.00000000,66.00000000,1244.00000000,2411.00000000,2411.00000000,1440.00000000,2104.00000000,1248.00000000,1986.00000000,6037.00000000,1.00000000,2.00000000,0.00000000,1.00000000,True,2.00000000,342.00000000,...,1.00000000,260.00000000,159.00000000,1973.00000000,1.00000000,[nan],235114.00000000,384787.00000000,2015.00000000,149673.00000000,4876.61000000,[nan],14.00000000,60371132000000.00000000,-0.10090000,2016-05-03,-0.10090000,-0.10090000,-0.10090000,-0.10090000,-0.10090000,1,0.00000000,2016-05-03,-520 days
3,10711816,1.00000000,0.00000000,616.00000000,2.00000000,4.00000000,0.00000000,4.00000000,2.00000000,66.00000000,1244.00000000,2232.00000000,2232.00000000,1440.00000000,2104.00000000,1248.00000000,1986.00000000,6037.00000000,1.00000000,2.00000000,0.00000000,1.00000000,True,2.00000000,342.00000000,...,1.00000000,260.00000000,159.00000000,1973.00000000,1.00000000,[nan],262309.00000000,437176.00000000,2015.00000000,174867.00000000,5560.07000000,[nan],14.00000000,60371132000000.00000000,-0.01210000,2016-04-05,-0.01210000,-0.01210000,-0.01210000,-0.01210000,-0.01210000,1,0.00000000,2016-04-05,-548 days
4,10711858,1.00000000,0.00000000,616.00000000,2.00000000,4.00000000,0.00000000,4.00000000,2.00000000,66.00000000,1244.00000000,1882.00000000,1882.00000000,1440.00000000,2104.00000000,1248.00000000,1986.00000000,6037.00000000,1.00000000,2.00000000,0.00000000,1.00000000,True,2.00000000,342.00000000,...,1.00000000,260.00000000,159.00000000,1973.00000000,1.00000000,[nan],232037.00000000,382055.00000000,2015.00000000,150018.00000000,4878.25000000,[nan],14.00000000,60371132000000.00000000,-0.04810000,2016-07-15,-0.04810000,-0.04810000,-0.04810000,-0.04810000,-0.04810000,1,0.00000000,2016-07-15,-447 days
5,10711910,1.00000000,0.00000000,616.00000000,2.00000000,3.00000000,0.00000000,4.00000000,2.00000000,66.00000000,1244.00000000,1477.00000000,1477.00000000,1440.00000000,2104.00000000,1248.00000000,1986.00000000,6037.00000000,1.00000000,2.00000000,0.00000000,1.00000000,True,2.00000000,342.00000000,...,1.00000000,260.00000000,159.00000000,1960.00000000,1.00000000,[nan],57098.00000000,76860.00000000,2015.00000000,19762.00000000,1116.46000000,[nan],14.00000000,60371132000000.00000000,0.28970000,2016-08-30,0.28970000,0.28970000,0.28970000,0.28970000,0.28970000,1,0.00000000,2016-08-30,-401 days
6,10712086,1.00000000,0.00000000,616.00000000,2.00000000,4.00000000,0.00000000,4.00000000,2.00000000,66.00000000,1244.00000000,1850.00000000,1850.00000000,1440.00000000,2104.00000000,1248.00000000,1986.00000000,6037.00000000,1.00000000,2.00000000,0.00000000,1.00000000,True,2.00000000,342.00000000,...,1.00000000,260.00000000,159.00000000,1974.00000000,1.00000000,[nan],206239.00000000,384120.00000000,2015.00000000,177881.00000000,4867.79000000,[nan],14.00000000,60371132000000.00000000,0.00400000,2016-02-12,0.00400000,0.00400000,0.00400000,0.00400000,0.00400000,1,0.00000000,2016-02-12,-601 days
7,10712162,1.00000000,0.00000000,616.00000000,3.00000000,3.00000000,0.00000000,4.00000000,3.00000000,66.00000000,1244.00000000,3193.00000000,3193.00000000,1440.00000000,2104.00000000,1248.00000000,1986.00000000,6037.00000000,1.00000000,3.00000000,0.00000000,1.00000000,True,2.00000000,342.00000000,...,1.00000000,260.00000000,159.00000000,1964.00000000,1.00000000,[nan],464000.00000000,695000.00000000,2015.00000000,231000.00000000,9793.72000000,[nan],14.00000000,60371132000000.00000000,-0.01210000,2016-09-27,-0.01210000,-0.01210000,-0.01210000,-0.01210000,-0.01210000,1,0.00000000,2016-09-27,-373 days
8,10712163,1.00000000,0.00000000,616.00000000,3.00000000,4.00000000,0.00000000,4.00000000,3.00000000,66.00000000,1244.00000000,2421.00000000,2421.00000000,1440.00000000,2104.00000000,1248.00000000,1986.00000000,6037.00000000,1.00000000,3.00000000,0.00000000,1.00000000,True,2.00000000,342.00000000,...,1.00000000,260.00000000,159.00000000,1962.00000000,1.00000000,[nan],302104.00000000,618279.00000000,2015.00000000,316175.00000000,7798.07000000,[nan],14.00000000,60371132000000.00000000,0.01390000,2016-08-23,0.01390000,0.01390000,0.01390000,0.01390000,0.01390000,1,0.00000000,2016-08-23,-408 days
9,10712195,1.00000000,0.00000000,616.00000000,3.00000000,3.00000000,0.00000000,4.00000000,3.00000000,66.00000000,1244.00000000,1678.00000000,1678.00000000,1440.00000000,2104.00000000,1248.00000000,1986.00000000,6037.00000000,1.00000000,3.00000000,0.00000000,1.00000000,True,2.00000000,342.00000000,...,1.00000000,260.00000000,159.00000000,1961.00000000,1.00000000,[nan],95000.00000000,475000.00000000,2015.00000000,380000.00000000,6074.55000000,[nan],14.00000000,60371132000000.00000000,-0.04500000,2016-05-11,-0.04500000,-0.04500000,-0.04500000,-0.04500000,-0.04500000,1,0.00000000,2016-05-11,-512 days
10,10712316,1.00000000,0.00000000,616.00000000,4.00000000,4.00000000,0.00000000,4.00000000,4.00000000,66.00000000,1244.00000000,2760.00000000,2760.00000000,1440.00000000,2104.00000000,1248.00000000,1986.00000000,6037.00000000,1.00000000,4.00000000,0.00000000,1.00000000,True,2.00000000,342.00000000,...,1.00000000,260.00000000,159.00000000,1963.00000000,1.00000000,[nan],268037.00000000,589149.00000000,2015.00000000,321112.00000000,7436.16000000,[nan],14.00000000,60371132000000.00000000,-0.03870000,2016-10-06,-0.03870000,-0.03870000,-0.03870000,-0.03870000,-0.03870000,1,0.00000000,2016-10-06,-364 days
11,10712345,1.00000000,0.00000000,616.00000000,3.00000000,4.00000000,0.00000000,4.00000000,3.00000000,66.00000000,1244.00000000,2717.00000000,2717.00000000,1440.00000000,2104.00000000,1248.00000000,1986.00000000,6037.00000000,1.00000000,3.00000000,0.00000000,1.00000000,True,2.00000000,342.00000000,...,1.00000000,260.00000000,159.00000000,1966.00000000,1.00000000,[nan],96268.00000000,123582.00000000,2015.00000000,27314.00000000,1754.25000000,[nan],14.00000000,60371132000000.00000000,0.01780000,2016-09-16,0.01780000,0.01780000,0.01780000,0.01780000,0.01780000,1,0.00000000,2016-09-16,-384 days
12,10712375,1.00000000,0.00000000,616.00000000,2.00000000,4.00000000,0.00000000,4.00000000,2.00000000,66.00000000,1244.00000000,2654.00000000,2654.00000000,1440.00000000,2104.00000000,1248.00000000,1986.00000000,6037.00000000,1.00000000,2.00000000,0.00000000,1.00000000,True,2.00000000,342.00000000,...,1.00000000,260.00000000,159.00000000,1970.00000000,1.00000000,[nan],153691.00000000,394473.00000000,2015.00000000,240782.00000000,5092.93000000,[nan],14.00000000,60371132000000.00000000,0.14930000,2016-01-11,0.14930000,0.14930000,0.14930000,0.14930000,0.14930000,1,0.00000000,2016-01-11,-633 days
13,10712391,1.00000000,0.00000000,616.00000000,4.00000000,4.00000000,0.00000000,4.00000000,4.00000000,66.00000000,1244.00000000,2984.00000000,2984.00000000,1440.00000000,2104.00000000,1248.00000000,1986.00000000,6037.00000000,1.00000000,4.00000000,0.00000000,1.00000000,True,2.00000000,342.00000000,...,1.00000000,260.00000000,159.00000000,1979.00000000,1.00000000,[nan],234000.00000000,750000.00000000,2015.00000000,516000.00000000,10327.94000000,[nan],14.00000000,60371132000000.00000000,0.02180000,2016-07-08,0.02180000,0.02180000,0.02180000,0.02180000,0.02180000,1,0.00000000,2016-07-08,-454 days
14,10712451,1.00000000,0.00000000,616.00000000,2.00000000,3.00000000,0.00000000,7.00000000,2.00000000,66.00000000,1244.00000000,1404.00000000,1404.00000000,1440.00000000,2104.00000000,1248.00000000,1986.00000000,6037.00000000,1.00000000,2.00000000,0.00000000,1.00000000,True,2.00000000,342.00000000,...,1.00000000,260.00000000,159.00000000,1973.00000000,1.00000000,[nan],45874.00000000,68084.00000000,2015.00000000,22210.00000000,990.68000000,[nan],14.00000000,60371132000000.00000000,0.05540000,2016-06-08,0.05540000,0.05540000,0.05540000,0.05540000,0.05540000,1,0.00000000,2016-06-08,-484 days
15,10712478,1.00000000,0.00000000,616.00000000,2.00000000,4.00000000,0.00000000,7.00000000,2.00000000,66.00000000,1244.00000000,1519.00000000,1519.00000000,1440.00000000,2104.00000000,1248.00000000,1986.00000000,6037.00000000,1.00000000,2.00000000,0.00000000,1.00000000,True,2.00000000,342.00000000,...,1.00000000,260.00000000,159.00000000,1972.00000000,1.00000000,[nan],90166.00000000,450830.00000000,2015.00000000,360664.00000000,5538.60000000,[nan],14.00000000,60371132000000.00000000,-0.09540000,2016-08-02,-0.09540000,-0.09540000,-0.09540000,-0.09540000,-0.09540000,1,0.00000000,2016-08-02,-429 days
16,10712525,1.00000000,0.00000000,616.00000000,2.00000000,4.00000000,0.00000000,7.00000000,2.00000000,66.00000000,1244.00000000,1519.00000000,1519.00000000,1440.00000000,2104.00000000,1248.00000000,1986.00000000,6037.00000000,1.00000000,2.00000000,0.00000000,1.00000000,True,2.00000000,342.00000000,...,1.00000000,260.00000000,159.00000000,1972.00000000,1.00000000,[nan],132086.00000000,359106.00000000,2015.00000000,227020.00000000,4516.19000000,[nan],14.00000000,60371132000000.00000000,0.00700000,2016-10-05,0.00700000,0.00700000,0.00700000,0.00700000,0.00700000,1,0.00000000,2016-10-05,-365 days
17,10712533,1.00000000,0.00000000,616.00000000,2.00000000,4.00000000,0.00000000,4.00000000,2.00000000,66.00000000,1244.00000000,1519.00000000,1519.00000000,1440.00000000,2104.00000000,1248.00000000,1986.00000000,6037.00000000,1.00000000,2.00000000,0.00000000,1.00000000,True,2.00000000,342.00000000,...,1.00000000,260.00000000,159.00000000,1972.00000000,1.00000000,[nan],168000.00000000,495000.00000000,2015.00000000,327000.00000000,6202.82000000,[nan],14.00000000,60371132000000.00000000,-0.03250000,2016-09-20,-0.03250000,-0.03250000,-0.03250000,-0.03250000,-0.03250000,1,0.00000000,2016-09-20,-380 days
18,10712550,1.00000000,0.00000000,616.00000000,3.00000000,4.00000000,0.00000000,4.00000000,3.00000000,66.00000000,1244.00000000,2023.00000000,2023.00000000,1440.00000000,2104.00000000,1248.00000000,1986.00000000,6037.00000000,1.00000000,3.00000000,0.00000000,1.00000000,True,2.00000000,342.00000000,...,1.00000000,260.00000000,159.00000000,1969.00000000,1.00000000,[nan],227565.00000000,522550.00000000,2015.00000000,294985.00000000,6517.99000000,[nan],14.00000000,60371132000000.00000000,-0.07040000,2016-10-28,-0.07040000,-0.07040000,-0.07040000,-0.07040000,-0.07040000,1,0.00000000,2016-10-28,-342 days
19,10712596,1.00000000,0.00000000,616.00000000,2.00000000,4.00000000,0.00000000,7.00000000,2.00000000,66.00000000,1244.00000000,1519.00000000,1519.00000000,1440.00000000,2104.00000000,1248.00000000,1986.00000000,6037.00000000,1.00000000,2.00000000,0.00000000,1.00000000,True,2.00000000,342.00000000,...,1.00000000,260.00000000,159.00000000,1971.00000000,1.00000000,[nan],47915.00000000,71350.00000000,2015.00000000,23435.00000000,1100.82000000,[nan],14.00000000,60371132000000.00000000,-0.03150000,2016-08-24,-0.03150000,-0.03150000,-0.03150000,-0.03150000,-0.03150000,1,0.00000000,2016-08-24,-407 days
20,10712648,1.00000000,0.00000000,616.00000000,3.00000000,3.00000000,0.00000000,4.00000000,3.00000000,66.00000000,1244.00000000,2415.00000000,2415.00000000,1440.00000000,2104.00000000,1248.00000000,1986.00000000,6037.00000000,1.00000000,3.00000000,0.00000000,1.00000000,True,2.00000000,342.00000000,...,1.00000000,260.00000000,159.00000000,1963.00000000,1.00000000,[nan],97356.00000000,125077.00000000,2015.00000000,27721.00000000,1760.62000000,[nan],14.00000000,60371132000000.00000000,0.02180000,2016-10-06,0.02180000,0.02180000,0.02180000,0.02180000,0.02180000,1,0.00000000,2016-10-06,-364 days
21,10712667,1.00000000,0.00000000,616.00000000,2.00000000,3.00000000,0.00000000,4.00000000,2.00000000,66.00000000,1244.00000000,1962.00000000,1962.00000000,1440.00000000,2104.00000000,1248.00000000,1986.00000000,6037.00000000,1.00000000,2.00000000,0.00000000,1.00000000,True,2.00000000,342.00000000,...,1.00000000,260.00000000,159.00000000,1963.00000000,1.00000000,[nan],246810.00000000,649784.00000000,2015.00000000,402974.00000000,8161.87000000,[nan],14.00000000,60371132000000.00000000,0.00400000,2016-06-14,0.00400000,0.00400000,0.00400000,0.00400000,0.00400000,1,0.00000000,2016-06-14,-478 days
22,10712693,1.00000000,0.00000000,616.00000000,3.00000000,4.00000000,0.00000000,4.00000000,3.00000000,66.00000000,1244.00000000,2203.00000000,2203.00000000,1440.00000000,2104.00000000,1248.00000000,1986.00000000,6037.00000000,1.00000000,3.00000000,0.00000000,1.00000000,True,2.00000000,342.00000000,...,1.00000000,260.00000000,159.00000000,1967.00000000,1.00000000,[nan],216219.00000000,383410.00000000,2015.00000000,167191.00000000,4856.84000000,[nan],14.00000000,60371132000000.00000000,-0.05760000,2016-04-21,-0.05760000,-0.05760000,-0.05760000,-0.05760000,-0.05760000,1,0.00000000,2016-04-21,-532 days
23,10712739,1.00000000,0.00000000,616.00000000,2.00000000,4.00000000,0.00000000,4.00000000,2.00000000,66.00000000,1244.00000000,2090.00000000,2090.00000000,1440.00000000,2104.00000000,1248.00000000,1986.00000000,6037.00000000,1.00000000,2.00000000,0.00000000,1.00000000,True,2.00000000,342.00000000,...,1.00000000,260.00000000,159.00000000,1963.00000000,1.00000000,[nan],142257.00000000,243866.00000000,2015.00000000,101609.00000000,3259.62000000,[nan],14.00000000,60371132000000.00000000,0.00200000,2016-06-15,0.00200000,0.00200000,0.00200000,0.00200000,0.00200000,1,0.00000000,2016-06-15,-477 days
24,10712766,1.00000000,0.00000000,616.00000000,3.00000000,3.00000000,0.00000000,4.00000000,3.00000000,66.00000000,1244.00000000,1826.00000000,1826.00000000,1440.00000000,2104.00000000,1248.00000000,1986.00000000,6037.00000000,1.00000000,3.00000000,0.00000000,1.00000000,True,2.00000000,342.00000000,...,1.00000000,260.00000000,159.00000000,1967.00000000,1.00000000,[nan],212581.00000000,339186.00000000,2015.00000000,126605.00000000,4363.83000000,[nan],14.00000000,60371132000000.00000000,-0.07800000,2016-04-20,-0.07800000,-0.07800000,-0.07800000,-0.07800000,-0.07800000,1,0.00000000,2016-04-20,-533 days
25,10712798,1.00000000,0.00000000,616.00000000,2.00000000,4.00000000,0.00000000,4.00000000,2.00000000,66.00000000,1244.00000000,2378.00000000,2378.00000000,1440.00000000,2104.00000000,1248.00000000,1986.00000000,6037.00000000,1.00000000,2.00000000,0.00000000,1.00000000,True,2.00000000,342.00000000,...,1.00000000,260.00000000,159.00000000,1963.00000000,1.00000000,[nan],286754.00000000,586300.00000000,2015.00000000,299546.00000000,7417.35000000,[nan],14.00000000,60371132000000.00000000,-0.00700000,2016-02-29,-0.00700000,-0.00700000,-0.00700000,-0.00700000,-0.00700000,1,0.00000000,2016-02-29,-584 days
26,10712818,1.00000000,0.00000000,616.00000000,3.00000000,4.00000000,0.00000000,4.00000000,3.00000000,66.00000000,1244.00000000,2449.00000000,2449.00000000,1440.00000000,2104.00000000,1248.00000000,1986.00000000,6037.00000000,1.00000000,3.00000000,0.00000000,1.00000000,True,2.00000000,342.00000000,...,1.00000000,260.00000000,159.00000000,1963.00000000,1.00000000,[nan],182282.00000000,332322.00000000,2015.00000000,150040.00000000,6888.28000000,[nan],14.00000000,60371132000000.00000000,0.06300000,2016-06-03,0.06300000,0.06300000,0.06300000,0.06300000,0.06300000,1,0.00000000,2016-06-03,-489 days
27,10712916,1.00000000,0.00000000,616.00000000,2.00000000,4.00000000,0.00000000,4.00000000,2.00000000,66.00000000,1244.00000000,2110.00000000,2110.00000000,1440.00000000,2104.00000000,1248.00000000,1986.00000000,6037.00000000,1.00000000,2.00000000,0.00000000,1.00000000,True,2.00000000,342.00000000,...,1.00000000,260.00000000,159.00000000,1964.00000000,1.00000000,[nan],94998.00000000,122312.00000000,2015.00000000,27314.00000000,1695.37000000,Y,10.00000000,60371132000000.00000000,0.01190000,2016-07-15,0.01190000,0.01190000,0.01190000,0.01190000,0.01190000,1,0.00000000,2016-07-15,-447 days
28,10712919,1.00000000,0.00000000,616.00000000,3.00000000,4.00000000,0.00000000,4.00000000,3.00000000,66.00000000,1244.00000000,2170.00000000,2170.00000000,1440.00000000,2104.00000000,1248.00000000,1986.00000000,6037.00000000,1.00000000,3.00000000,0.00000000,1.00000000,True,2.00000000,342.00000000,...,1.00000000,260.00000000,159.00000000,1964.00000000,1.00000000,[nan],151500.00000000,635000.00000000,2015.00000000,483500.00000000,8039.63000000,[nan],14.00000000,60371132000000.00000000,0.11690000,2016-09-09,0.11690000,0.11690000,0.11690000,0.11690000,0.11690000,1,0.00000000,2016-09-09,-391 days
29,10713169,1.00000000,0.00000000,616.00000000,1.00000000,2.00000000,0.00000000,7.00000000,1.00000000,66.00000000,1244.00000000,742.00000000,742.00000000,1440.00000000,2104.00000000,1248.00000000,1986.00000000,6037.00000000,1.00000000,1.00000000,0.00000000,1.00000000,True,2.00000000,342.00000000,...,1.00000000,260.00000000,159.00000000,1981.00000000,1.00000000,[nan],73000.00000000,364000.00000000,2015.00000000,291000.00000000,4378.79000000,[nan],14.00000000,60371132000000.00000000,0.06390000,2016-01-19,0.06390000,0.06390000,0.06390000,0.06390000,0.06390000,1,0.00000000,2016-01-19,-625 days
30,10713366,1.00000000,0.00000000,616.00000000,3.00000000,3.00000000,0.00000000,4.00000000,3.00000000,66.00000000,1244.00000000,2060.00000000,2060.00000000,1440.00000000,2104.00000000,1248.00000000,1986.00000000,6037.00000000,1.00000000,3.00000000,0.00000000,1.00000000,True,2.00000000,342.00000000,...,1.00000000,260.00000000,159.00000000,1993.00000000,1.00000000,[nan],189002.00000000,479288.00000000,2015.00000000,290286.00000000,5850.71000000,[nan],14.00000000,60371132000000.00000000,0.02960000,2016-02-23,0.02960000,0.02960000,0.02960000,0.02960000,0.02960000,1,0.00000000,2016-02-23,-590 days

In [101]:
print(my_imputer_rules.python_code())

def impute_missing_values(df):

    #-----------------------------------------------------------------------
    # Function to fill missing for a specific column and combination of
    # groupby values.
    #-----------------------------------------------------------------------
    def gb_fillna(gb_fill_df, impute_col, expr, impute_val):
        _map = gb_fill_df.eval(expr)
        gb_fill_df.loc[_map, impute_col] = gb_fill_df.loc[_map, impute_col].fillna(value=impute_val, inplace=False)

    #-----------------------------------------------------------------------
    # Replace any missing values in the groupby variables.
    #-----------------------------------------------------------------------
    df['fips'].fillna(6037.0, inplace=True))



    #-----------------------------------------------------------------------
    # parcelid Imputation
    #-----------------------------------------------------------------------
    gb_fillna(impute_df if inplace else new_df,
             'parcelid',
             'fips==6037.0',
             11867909.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'parcelid',
             'fips==6059.0',
             14364531.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'parcelid',
             'fips==6111.0',
             17188677.5
             )

    gb_fillna(impute_df if inplace else new_df,
             'parcelid',
             'not (fips==6037.0) and not (fips==6059.0) and not (fips==6111.0)',
             12553728.0
             )


    #-----------------------------------------------------------------------
    # airconditioningtypeid Imputation
    #-----------------------------------------------------------------------
    gb_fillna(impute_df if inplace else new_df,
             'airconditioningtypeid',
             'fips==6037.0',
             1.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'airconditioningtypeid',
             'fips==6059.0',
             13.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'airconditioningtypeid',
             'fips==6111.0',
             1.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'airconditioningtypeid',
             'not (fips==6037.0) and not (fips==6059.0) and not (fips==6111.0)',
             1.0
             )


    #-----------------------------------------------------------------------
    # architecturalstyletypeid Imputation
    #-----------------------------------------------------------------------
    gb_fillna(impute_df if inplace else new_df,
             'architecturalstyletypeid',
             'fips==6037.0',
             0.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'architecturalstyletypeid',
             'fips==6059.0',
             7.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'architecturalstyletypeid',
             'fips==6111.0',
             7.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'architecturalstyletypeid',
             'not (fips==6037.0) and not (fips==6059.0) and not (fips==6111.0)',
             7.0
             )


    #-----------------------------------------------------------------------
    # basementsqft Imputation
    #-----------------------------------------------------------------------
    gb_fillna(impute_df if inplace else new_df,
             'basementsqft',
             'fips==6037.0',
             616.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'basementsqft',
             'fips==6059.0',
             616.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'basementsqft',
             'fips==6111.0',
             616.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'basementsqft',
             'not (fips==6037.0) and not (fips==6059.0) and not (fips==6111.0)',
             616.0
             )


    #-----------------------------------------------------------------------
    # bathroomcnt Imputation
    #-----------------------------------------------------------------------
    gb_fillna(impute_df if inplace else new_df,
             'bathroomcnt',
             'fips==6037.0',
             2.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'bathroomcnt',
             'fips==6059.0',
             2.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'bathroomcnt',
             'fips==6111.0',
             2.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'bathroomcnt',
             'not (fips==6037.0) and not (fips==6059.0) and not (fips==6111.0)',
             2.0
             )


    #-----------------------------------------------------------------------
    # bedroomcnt Imputation
    #-----------------------------------------------------------------------
    gb_fillna(impute_df if inplace else new_df,
             'bedroomcnt',
             'fips==6037.0',
             3.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'bedroomcnt',
             'fips==6059.0',
             3.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'bedroomcnt',
             'fips==6111.0',
             3.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'bedroomcnt',
             'not (fips==6037.0) and not (fips==6059.0) and not (fips==6111.0)',
             3.0
             )


    #-----------------------------------------------------------------------
    # buildingclasstypeid Imputation
    #-----------------------------------------------------------------------
    gb_fillna(impute_df if inplace else new_df,
             'buildingclasstypeid',
             'fips==6037.0',
             0.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'buildingclasstypeid',
             'fips==6059.0',
             4.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'buildingclasstypeid',
             'fips==6111.0',
             4.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'buildingclasstypeid',
             'not (fips==6037.0) and not (fips==6059.0) and not (fips==6111.0)',
             4.0
             )


    #-----------------------------------------------------------------------
    # buildingqualitytypeid Imputation
    #-----------------------------------------------------------------------
    gb_fillna(impute_df if inplace else new_df,
             'buildingqualitytypeid',
             'fips==6037.0',
             7.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'buildingqualitytypeid',
             'fips==6059.0',
             7.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'buildingqualitytypeid',
             'fips==6111.0',
             7.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'buildingqualitytypeid',
             'not (fips==6037.0) and not (fips==6059.0) and not (fips==6111.0)',
             7.0
             )


    #-----------------------------------------------------------------------
    # calculatedbathnbr Imputation
    #-----------------------------------------------------------------------
    gb_fillna(impute_df if inplace else new_df,
             'calculatedbathnbr',
             'fips==6037.0',
             2.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'calculatedbathnbr',
             'fips==6059.0',
             2.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'calculatedbathnbr',
             'fips==6111.0',
             2.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'calculatedbathnbr',
             'not (fips==6037.0) and not (fips==6059.0) and not (fips==6111.0)',
             2.0
             )


    #-----------------------------------------------------------------------
    # decktypeid Imputation
    #-----------------------------------------------------------------------
    gb_fillna(impute_df if inplace else new_df,
             'decktypeid',
             'fips==6037.0',
             66.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'decktypeid',
             'fips==6059.0',
             66.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'decktypeid',
             'fips==6111.0',
             0.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'decktypeid',
             'not (fips==6037.0) and not (fips==6059.0) and not (fips==6111.0)',
             66.0
             )


    #-----------------------------------------------------------------------
    # finishedfloor1squarefeet Imputation
    #-----------------------------------------------------------------------
    gb_fillna(impute_df if inplace else new_df,
             'finishedfloor1squarefeet',
             'fips==6037.0',
             1244.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'finishedfloor1squarefeet',
             'fips==6059.0',
             1244.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'finishedfloor1squarefeet',
             'fips==6111.0',
             1244.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'finishedfloor1squarefeet',
             'not (fips==6037.0) and not (fips==6059.0) and not (fips==6111.0)',
             1244.0
             )


    #-----------------------------------------------------------------------
    # calculatedfinishedsquarefeet Imputation
    #-----------------------------------------------------------------------
    gb_fillna(impute_df if inplace else new_df,
             'calculatedfinishedsquarefeet',
             'fips==6037.0',
             1501.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'calculatedfinishedsquarefeet',
             'fips==6059.0',
             1605.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'calculatedfinishedsquarefeet',
             'fips==6111.0',
             1663.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'calculatedfinishedsquarefeet',
             'not (fips==6037.0) and not (fips==6059.0) and not (fips==6111.0)',
             1540.0
             )


    #-----------------------------------------------------------------------
    # finishedsquarefeet12 Imputation
    #-----------------------------------------------------------------------
    gb_fillna(impute_df if inplace else new_df,
             'finishedsquarefeet12',
             'fips==6037.0',
             1469.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'finishedsquarefeet12',
             'fips==6059.0',
             1603.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'finishedsquarefeet12',
             'fips==6111.0',
             1667.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'finishedsquarefeet12',
             'not (fips==6037.0) and not (fips==6059.0) and not (fips==6111.0)',
             1518.0
             )


    #-----------------------------------------------------------------------
    # finishedsquarefeet13 Imputation
    #-----------------------------------------------------------------------
    gb_fillna(impute_df if inplace else new_df,
             'finishedsquarefeet13',
             'fips==6037.0',
             1440.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'finishedsquarefeet13',
             'fips==6059.0',
             1440.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'finishedsquarefeet13',
             'fips==6111.0',
             1440.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'finishedsquarefeet13',
             'not (fips==6037.0) and not (fips==6059.0) and not (fips==6111.0)',
             1440.0
             )


    #-----------------------------------------------------------------------
    # finishedsquarefeet15 Imputation
    #-----------------------------------------------------------------------
    gb_fillna(impute_df if inplace else new_df,
             'finishedsquarefeet15',
             'fips==6037.0',
             2104.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'finishedsquarefeet15',
             'fips==6059.0',
             2104.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'finishedsquarefeet15',
             'fips==6111.0',
             2039.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'finishedsquarefeet15',
             'not (fips==6037.0) and not (fips==6059.0) and not (fips==6111.0)',
             2104.0
             )


    #-----------------------------------------------------------------------
    # finishedsquarefeet50 Imputation
    #-----------------------------------------------------------------------
    gb_fillna(impute_df if inplace else new_df,
             'finishedsquarefeet50',
             'fips==6037.0',
             1248.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'finishedsquarefeet50',
             'fips==6059.0',
             1248.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'finishedsquarefeet50',
             'fips==6111.0',
             1248.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'finishedsquarefeet50',
             'not (fips==6037.0) and not (fips==6059.0) and not (fips==6111.0)',
             1248.0
             )


    #-----------------------------------------------------------------------
    # finishedsquarefeet6 Imputation
    #-----------------------------------------------------------------------
    gb_fillna(impute_df if inplace else new_df,
             'finishedsquarefeet6',
             'fips==6037.0',
             1986.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'finishedsquarefeet6',
             'fips==6059.0',
             1986.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'finishedsquarefeet6',
             'fips==6111.0',
             1986.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'finishedsquarefeet6',
             'not (fips==6037.0) and not (fips==6059.0) and not (fips==6111.0)',
             1986.0
             )


    #-----------------------------------------------------------------------
    # fireplacecnt Imputation
    #-----------------------------------------------------------------------
    gb_fillna(impute_df if inplace else new_df,
             'fireplacecnt',
             'fips==6037.0',
             1.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'fireplacecnt',
             'fips==6059.0',
             1.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'fireplacecnt',
             'fips==6111.0',
             1.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'fireplacecnt',
             'not (fips==6037.0) and not (fips==6059.0) and not (fips==6111.0)',
             1.0
             )


    #-----------------------------------------------------------------------
    # fullbathcnt Imputation
    #-----------------------------------------------------------------------
    gb_fillna(impute_df if inplace else new_df,
             'fullbathcnt',
             'fips==6037.0',
             2.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'fullbathcnt',
             'fips==6059.0',
             2.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'fullbathcnt',
             'fips==6111.0',
             2.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'fullbathcnt',
             'not (fips==6037.0) and not (fips==6059.0) and not (fips==6111.0)',
             2.0
             )


    #-----------------------------------------------------------------------
    # garagecarcnt Imputation
    #-----------------------------------------------------------------------
    gb_fillna(impute_df if inplace else new_df,
             'garagecarcnt',
             'fips==6037.0',
             0.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'garagecarcnt',
             'fips==6059.0',
             2.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'garagecarcnt',
             'fips==6111.0',
             2.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'garagecarcnt',
             'not (fips==6037.0) and not (fips==6059.0) and not (fips==6111.0)',
             2.0
             )


    #-----------------------------------------------------------------------
    # garagetotalsqft Imputation
    #-----------------------------------------------------------------------
    gb_fillna(impute_df if inplace else new_df,
             'garagetotalsqft',
             'fips==6037.0',
             1.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'garagetotalsqft',
             'fips==6059.0',
             430.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'garagetotalsqft',
             'fips==6111.0',
             441.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'garagetotalsqft',
             'not (fips==6037.0) and not (fips==6059.0) and not (fips==6111.0)',
             433.0
             )


    #-----------------------------------------------------------------------
    # hashottuborspa Imputation
    #-----------------------------------------------------------------------
    gb_fillna(impute_df if inplace else new_df,
             'hashottuborspa',
             'fips==6037.0',
             'True'
             )

    gb_fillna(impute_df if inplace else new_df,
             'hashottuborspa',
             'fips==6059.0',
             'True'
             )

    gb_fillna(impute_df if inplace else new_df,
             'hashottuborspa',
             'fips==6111.0',
             'True'
             )

    gb_fillna(impute_df if inplace else new_df,
             'hashottuborspa',
             'not (fips==6037.0) and not (fips==6059.0) and not (fips==6111.0)',
             True
             )


    #-----------------------------------------------------------------------
    # heatingorsystemtypeid Imputation
    #-----------------------------------------------------------------------
    gb_fillna(impute_df if inplace else new_df,
             'heatingorsystemtypeid',
             'fips==6037.0',
             2.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'heatingorsystemtypeid',
             'fips==6059.0',
             13.5
             )

    gb_fillna(impute_df if inplace else new_df,
             'heatingorsystemtypeid',
             'fips==6111.0',
             2.0
             )

    gb_fillna(impute_df if inplace else new_df,
             'heatingorsystemtypeid',
             'not (fips==6037.0) and not (fips==6059.0) and not (fips==6111.0)',
             2.0
             )


    #-----------------------------------------------------------------------
    # latitude Imputation
    #-----------------------------------------------------------------------
    gb_fillna(impute_df if inplace else new_df,
             'latitude',
             'fips==6037.0',

In [61]:
len(df)

90682

In [80]:
print("[%03d]" % 5)

[005]

In [111]:
cols = df.columns.tolist()
cols.sort()