In [64]:
import importlib
import codecs
import os
import pandas
import numpy 
import datetime as dt
import scipy.stats
import pandasql.sqldf
from IPython.core.display import display, HTML
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
pandas.options.display.max_rows = 200
pandas.options.display.max_columns = 50
pandas.options.display.width = 300
pandas.set_option('display.float_format', lambda x: '%.8f' % x)

import trm3.impute
import trm3.utility

input_file = r"D:\projects\Python36-Package-Development\trm3pylib\data-csv\zillow_train.csv"
with codecs.open(input_file, 'r', encoding='utf-8') as f:
   df= pandas.read_csv(f, sep=",", header=0, low_memory=False, parse_dates=True)

df["datecol"] = pandas.to_datetime(df.transactiondate)
df["interval"] = df["datecol"] - dt.datetime.now().date()
df["fips"].fillna(value=df["fips"].mode().tolist()[0], inplace=True)

In [65]:
importlib.reload(trm3.impute)
importlib.reload(trm3.utility)

In [66]:
sdf = trm3.utility.df_contents(df, display_html_output=True)
#                   excel_filename=r"D:\projects\Python36-Package-Development\temp\test01.xlsx",
#                   excel_sheet_name="DF Summary")

In [5]:
df.columns.tolist()

['parcelid',
 'airconditioningtypeid',
 'architecturalstyletypeid',
 'basementsqft',
 'bathroomcnt',
 'bedroomcnt',
 'buildingclasstypeid',
 'buildingqualitytypeid',
 'calculatedbathnbr',
 'decktypeid',
 'finishedfloor1squarefeet',
 'calculatedfinishedsquarefeet',
 'finishedsquarefeet12',
 'finishedsquarefeet13',
 'finishedsquarefeet15',
 'finishedsquarefeet50',
 'finishedsquarefeet6',
 'fips',
 'fireplacecnt',
 'fullbathcnt',
 'garagecarcnt',
 'garagetotalsqft',
 'hashottuborspa',
 'heatingorsystemtypeid',
 'latitude',
 'longitude',
 'lotsizesquarefeet',
 'poolcnt',
 'poolsizesum',
 'pooltypeid10',
 'pooltypeid2',
 'pooltypeid7',
 'propertycountylandusecode',
 'propertylandusetypeid',
 'propertyzoningdesc',
 'rawcensustractandblock',
 'regionidcity',
 'regionidcounty',
 'regionidneighborhood',
 'regionidzip',
 'roomcnt',
 'storytypeid',
 'threequarterbathnbr',
 'typeconstructiontypeid',
 'unitcnt',
 'yardbuildingsqft17',
 'yardbuildingsqft26',
 'yearbuilt',
 'numberofstories',
 'fireplaceflag',
 'structuretaxvaluedollarcnt',
 'taxvaluedollarcnt',
 'assessmentyear',
 'landtaxvaluedollarcnt',
 'taxamount',
 'taxdelinquencyflag',
 'taxdelinquencyyear',
 'censustractandblock',
 'logerror',
 'transactiondate',
 'dv_min_error',
 'dv_max_error',
 'dv_avg_error',
 'dv_first_error',
 'dv_last_error',
 'dv_transactions',
 'last_error',
 'datecol',
 'interval']

In [76]:
importlib.reload(trm3.impute)    
my_imputer = trm3.impute.Imputer(train_df = df,
                                 test_df = None,
                                 columns = [x for x in df.columns.tolist() if x[0:3] != "dv_" and x !="fips"],
#                                  columns = ["datecol"],
                                 groupby = ["fips"],
                                 label = "dv_avg_error",
                                 method = 4,
                                 mode_fallback_distinct_values = 3,
                                 mean_label_min_obs = .005,
                                 mean_label_bins = 10,
                                 nominal_new_category_min_obs = .01,
                                 missing_indicators = False,
                                 missing_indicators_min_obs = .01,
                                 model_x_columns = None                          
                                )

my_imputer_rules = my_imputer.fit()
# my_imputer_rules.impute(impute_df=df, inplace=False)

DEBUG:  1 - parcelid
[parcelid] -> 1.174607753753662 seconds
DEBUG:  2 - airconditioningtypeid
[airconditioningtypeid] -> 1.1736316680908203 seconds
DEBUG:  3 - architecturalstyletypeid
[architecturalstyletypeid] -> 1.1908788681030273 seconds
DEBUG:  4 - basementsqft
[basementsqft] -> 1.19313383102417 seconds
DEBUG:  5 - bathroomcnt
[bathroomcnt] -> 1.1976420879364014 seconds
DEBUG:  6 - bedroomcnt
[bedroomcnt] -> 1.1506879329681396 seconds
DEBUG:  7 - buildingclasstypeid
[buildingclasstypeid] -> 1.187178373336792 seconds
DEBUG:  8 - buildingqualitytypeid
[buildingqualitytypeid] -> 1.153611660003662 seconds
DEBUG:  9 - calculatedbathnbr
[calculatedbathnbr] -> 1.1996674537658691 seconds
DEBUG:  10 - decktypeid
[decktypeid] -> 1.1897399425506592 seconds
DEBUG:  11 - finishedfloor1squarefeet
[finishedfloor1squarefeet] -> 1.1921346187591553 seconds
DEBUG:  12 - calculatedfinishedsquarefeet
[calculatedfinishedsquarefeet] -> 1.1531083583831787 seconds
DEBUG:  13 - finishedsquarefeet12
[finishedsquarefeet12] -> 1.206657886505127 seconds
DEBUG:  14 - finishedsquarefeet13
[finishedsquarefeet13] -> 1.1896283626556396 seconds
DEBUG:  15 - finishedsquarefeet15
[finishedsquarefeet15] -> 1.2076776027679443 seconds
DEBUG:  16 - finishedsquarefeet50
[finishedsquarefeet50] -> 1.1916344165802002 seconds
DEBUG:  17 - finishedsquarefeet6
[finishedsquarefeet6] -> 1.2426857948303223 seconds
DEBUG:  18 - fireplacecnt
[fireplacecnt] -> 1.1916306018829346 seconds
DEBUG:  19 - fullbathcnt
[fullbathcnt] -> 1.144627571105957 seconds
DEBUG:  20 - garagecarcnt
[garagecarcnt] -> 1.166623592376709 seconds
DEBUG:  21 - garagetotalsqft
[garagetotalsqft] -> 1.2241716384887695 seconds
DEBUG:  22 - hashottuborspa
[hashottuborspa] -> 0.16065263748168945 seconds
DEBUG:  23 - heatingorsystemtypeid

D:\applications\Anaconda3\lib\site-packages\pandas\core\groupby.py:3154: FutureWarning: numpy not_equal will not check object identity in the future. The comparison did not return the same result as suggested by the identity (`is`)) and will change.
  inc = np.r_[1, val[1:] != val[:-1]]

[heatingorsystemtypeid] -> 1.1711294651031494 seconds
DEBUG:  24 - latitude
[latitude] -> 1.1538360118865967 seconds
DEBUG:  25 - longitude
[longitude] -> 1.1390972137451172 seconds
DEBUG:  26 - lotsizesquarefeet
[lotsizesquarefeet] -> 1.2244577407836914 seconds
DEBUG:  27 - poolcnt
[poolcnt] -> 1.186126708984375 seconds
DEBUG:  28 - poolsizesum
[poolsizesum] -> 1.1885287761688232 seconds
DEBUG:  29 - pooltypeid10
[pooltypeid10] -> 1.1971354484558105 seconds
DEBUG:  30 - pooltypeid2
[pooltypeid2] -> 1.246068000793457 seconds
DEBUG:  31 - pooltypeid7
[pooltypeid7] -> 1.187635898590088 seconds
DEBUG:  32 - propertycountylandusecode
[propertycountylandusecode] -> 0.13312530517578125 seconds
DEBUG:  33 - propertylandusetypeid
[propertylandusetypeid] -> 1.1386682987213135 seconds
DEBUG:  34 - propertyzoningdesc
[propertyzoningdesc] -> 0.18317174911499023 seconds
DEBUG:  35 - rawcensustractandblock
[rawcensustractandblock] -> 1.1831233501434326 seconds
DEBUG:  36 - regionidcity
[regionidcity] -> 1.1326351165771484 seconds
DEBUG:  37 - regionidcounty
[regionidcounty] -> 1.1541030406951904 seconds
DEBUG:  38 - regionidneighborhood
[regionidneighborhood] -> 1.2357769012451172 seconds
DEBUG:  39 - regionidzip
[regionidzip] -> 1.149975299835205 seconds
DEBUG:  40 - roomcnt
[roomcnt] -> 1.1266424655914307 seconds
DEBUG:  41 - storytypeid
[storytypeid] -> 1.1922056674957275 seconds
DEBUG:  42 - threequarterbathnbr
[threequarterbathnbr] -> 1.2311737537384033 seconds
DEBUG:  43 - typeconstructiontypeid
[typeconstructiontypeid] -> 1.196152687072754 seconds
DEBUG:  44 - unitcnt
[unitcnt] -> 1.144601821899414 seconds
DEBUG:  45 - yardbuildingsqft17
[yardbuildingsqft17] -> 1.1836278438568115 seconds
DEBUG:  46 - yardbuildingsqft26
[yardbuildingsqft26] -> 1.241224765777588 seconds
DEBUG:  47 - yearbuilt
[yearbuilt] -> 1.1531105041503906 seconds
DEBUG:  48 - numberofstories
[numberofstories] -> 1.1776220798492432 seconds
DEBUG:  49 - fireplaceflag
[fireplaceflag] -> 0.16565561294555664 seconds
DEBUG:  50 - structuretaxvaluedollarcnt

D:\applications\Anaconda3\lib\site-packages\pandas\core\groupby.py:3154: FutureWarning: numpy not_equal will not check object identity in the future. The comparison did not return the same result as suggested by the identity (`is`)) and will change.
  inc = np.r_[1, val[1:] != val[:-1]]

[structuretaxvaluedollarcnt] -> 1.1886417865753174 seconds
DEBUG:  51 - taxvaluedollarcnt
[taxvaluedollarcnt] -> 1.1791331768035889 seconds
DEBUG:  52 - assessmentyear
[assessmentyear] -> 1.1611201763153076 seconds
DEBUG:  53 - landtaxvaluedollarcnt
[landtaxvaluedollarcnt] -> 1.258683443069458 seconds
DEBUG:  54 - taxamount
[taxamount] -> 1.225184679031372 seconds
DEBUG:  55 - taxdelinquencyflag
[taxdelinquencyflag] -> 0.10610127449035645 seconds
DEBUG:  56 - taxdelinquencyyear
[taxdelinquencyyear] -> 1.223151445388794 seconds
DEBUG:  57 - censustractandblock
[censustractandblock] -> 1.1636052131652832 seconds
DEBUG:  58 - logerror
[logerror] -> 1.2136530876159668 seconds
DEBUG:  59 - transactiondate
[transactiondate] -> 0.1121056079864502 seconds
DEBUG:  60 - last_error
[last_error] -> 1.1305673122406006 seconds
DEBUG:  61 - datecol
DEBUG:  62 - interval

In [67]:
df.groupby(["fips"])["parcelid"].\
transform(lambda x: pandas.qcut(x, 10, labels=False, duplicates="drop"))

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
30       0
31       0
32       0
33       0
34       0
35       0
36       0
37       0
38       0
39       0
40       0
41       0
42       0
43       0
44       0
45       0
46       0
47       0
48       0
49       0
50       0
51       0
52       0
53       0
54       0
55       0
56       0
57       0
58       0
59       0
60       0
61       0
62       0
63       0
64       0
65       0
66       0
67       0
68       0
69       0
70       0
71       0
72       0
73       0
74       0
75       0
76       0
77       0
78       0
79       0
80       0
81       0
82       0
83       0
84       0
85       0
86       0
87       0
88       0
89       0
90       0
91       0
92       0
93       0
94       0
95       0
96       0
97       0
98       0
99       0
        ..
90582    9
90583    9
90584    9
90585    9
90586    9
90587    9
90588    9
90589    9
90590    9
90591    9
90592    9
90593    9
90594    9
90595    9
90596    9
90597    9
90598    9
90599    9
90600    9
90601    9
90602    9
90603    9
90604    9
90605    9
90606    9
90607    9
90608    9
90609    9
90610    9
90611    9
90612    9
90613    9
90614    9
90615    9
90616    9
90617    9
90618    9
90619    9
90620    9
90621    9
90622    9
90623    9
90624    9
90625    9
90626    9
90627    9
90628    9
90629    9
90630    9
90631    9
90632    9
90633    9
90634    9
90635    9
90636    9
90637    9
90638    9
90639    9
90640    9
90641    9
90642    9
90643    9
90644    9
90645    9
90646    9
90647    9
90648    9
90649    9
90650    9
90651    9
90652    9
90653    9
90654    9
90655    9
90656    9
90657    9
90658    9
90659    9
90660    9
90661    9
90662    9
90663    9
90664    9
90665    9
90666    9
90667    9
90668    9
90669    9
90670    9
90671    9
90672    9
90673    9
90674    9
90675    9
90676    9
90677    9
90678    9
90679    9
90680    9
90681    9
Name: parcelid, Length: 90682, dtype: int64

In [61]:
len(df)

90682

In [ ]:
df.columns[0]

In [ ]:
df["assessmentyear"].count()

In [ ]:
col = "transactiondate"
t = df[col][pandas.notnull(df[col])].apply(type)
w= t.groupby(t).count()
print(str(w.index[0]) + " - " + str(w[0]))
w

In [ ]:
if w.index[0] == pandas.Timestamp:
    print("True")

In [ ]:
df.groupby(["hashottuborspa"])["hashottuborspa"].apply(type).count()

In [ ]:
list(range(0,1))

In [ ]:
df.dtypes

In [ ]:
type(df[col].dtype)

In [ ]:
numpy.dtype('O')