In [12]:
%matplotlib inline
import importlib
import codecs
import os
import pandas
import numpy 
import datetime as dt
import scipy.stats
import pandasql.sqldf
import matplotlib.axis as axis
import matplotlib.pyplot as plt
from IPython.core.display import display, HTML
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
pandas.options.display.max_rows = 200
pandas.options.display.max_columns = 50
pandas.options.display.width = 300
pandas.set_option('display.float_format', lambda x: '%.8f' % x)
import trm3
import trm3.impute
import trm3.utility

input_file = r"D:\projects\Python36-Package-Development\trm3pylib\data-csv\zillow_train.csv"
with codecs.open(input_file, 'r', encoding='utf-8') as f:
   df= pandas.read_csv(f, sep=",", header=0, low_memory=False, parse_dates=True)

df["datecol"] = pandas.to_datetime(df.transactiondate)
df["interval"] = df["datecol"] - dt.datetime.now().date()
df["fips"].fillna(value=df["fips"].mode().tolist()[0], inplace=True)

In [4]:
importlib.reload(trm3)
importlib.reload(trm3.impute)
importlib.reload(trm3.utility)

In [ ]:
trm3.utility.get_size(df, unit="MB")

# x = trm3.utility.MemoryUnits.GB
# x.abbreviation

In [ ]:
def autolabel(rects, ax, percentages=False):
    # Get y-axis height to calculate label position from.
    (y_bottom, y_top) = ax.get_ylim()
    y_height = y_top - y_bottom

    for rect in rects:
        height = rect.get_height()

        # Fraction of axis height taken up by this rectangle
        p_height = (height / y_height)

        # If we can fit the label above the column, do that;
        # otherwise, put it inside the column.
        if p_height > 0.95: # arbitrary; 95% looked good to me.
            label_position = height - (y_height * 0.05)
        else:
            label_position = height + (y_height * 0.01)
        
        height = 100*height
        ax.text(rect.get_x() + rect.get_width()/2, label_position,
                '%.1f %%' % height,
                ha='center', va='bottom')

In [ ]:
col="calculatedfinishedsquarefeet"
plt.rcParams["figure.figsize"] = [12, 9]
nomiss = (df[col].notnull()) & (df[col] <= 5000)
histogram = plt.figure()
weights = numpy.ones_like(df.loc[nomiss,col])/float(len(df.loc[:,col]))
n, bins, patches = plt.hist(df.loc[nomiss,col], alpha=.5, facecolor='green', 
                            edgecolor='black', linewidth=1.2, weights=weights)
plt.xlabel(col)
plt.ylabel('# of Observations')
autolabel(patches, plt.gca(), percentages=True)
plt.show()
plt.close()

In [ ]:
df.bedroomcnt.hist()

In [48]:
importlib.reload(trm3.impute)    
my_imputer = trm3.impute.Imputer(train_df = df,
                                 test_df = None,
#                                  columns = [x for x in df.columns.tolist() if x[0:3] != "dv_" and x !="fips"],
                                 columns = ["propertycountylandusecode"],
                                 groupby = ["fips"],
                                 label = "dv_avg_error",
                                 method = 4,
                                 mode_fallback_distinct_values = 3,
                                 mean_label_min_obs = .005,
                                 mean_label_bins = 10,
                                 nominal_new_category_min_obs = .01,
                                 missing_indicators = False,
                                 missing_indicators_min_obs = .01,
                                 model_x_columns = None,
                                 verbose=True
                                )

my_imputer_rules = my_imputer.fit()
my_imputer_rules.impute(impute_df=df, inplace=True, verbose=False, include_columns=["propertycountylandusecode"])

[0001] propertycountylandusecode - Processed in 0.9303874969482422 seconds.
       dtype=Nominal(object)  NaN=0.0  Unique=77  Mode=0100


Imputer.fit() finished in 0.942899227142334 seconds.
1 variables processed.

In [46]:
df["propertycountylandusecode"].isnull().sum()

0

In [ ]:
'{0:,}'.format(2999887766)

In [ ]:
cols = df.columns.tolist()
cols.sort()

In [ ]:
sdf = trm3.utility.df_contents(df, display_html_output=True)
#                   excel_filename=r"D:\projects\Python36-Package-Development\temp\test01.xlsx",
#                   excel_sheet_name="DF Summary")

In [ ]:
x=df.columns.tolist()
x.insert(0,'__df_column_order__')
x

In [32]:
w=trm3.utility.df_contents(df, display_html_output=False)

NameError: name 'dtypes' is not defined

In [35]:
w.query("column_dtype=='object'")

                          column_dtype n_missing n_non_missing n_boolean n_float n_integer n_string n_datetime n_timedelta n_unique_values          mode       mean      stdev         min         p1         p5        p10        p25     median        p75        p90        p95        p99         max
Column Name
fireplaceflag                   object     90462           220       220       0         0        0          0           0               2        [True] 1.00000000 0.00000000        True 1.00000000 1.00000000 1.00000000 1.00000000 1.00000000 1.00000000 1.00000000 1.00000000 1.00000000        True
hashottuborspa                  object     88319          2363      2363       0         0        0          0           0               2        [True] 1.00000000 0.00000000        True 1.00000000 1.00000000 1.00000000 1.00000000 1.00000000 1.00000000 1.00000000 1.00000000 1.00000000        True
propertycountylandusecode       object       533         90149         0       0         0    90149          0           0              78        [0100]        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN        NaN        NaN        NaN        NaN         NaN
propertyzoningdesc              object     32450         58232         0       0         0    58232          0           0            1997        [LAR1]        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN        NaN        NaN        NaN        NaN         NaN
taxdelinquencyflag              object     88907          1775         0       0         0     1775          0           0               2           [Y]        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN        NaN        NaN        NaN        NaN         NaN
transactiondate                 object         0         90682         0       0         0    90682          0           0             352  [2016-04-29]        NaN        NaN  2016-01-01        NaN        NaN        NaN        NaN        NaN        NaN        NaN        NaN        NaN  2016-12-30